.prediction-card {
    width: 100%;
}

.prediction-card__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.prediction-card__art {
    display: flex;
    width: 100%;
    height: 30em;
    border-radius: var(--card-border-radius);
}

.prediction-card__actions {
    position: absolute;
    bottom: 0;
    margin-bottom: -1.5em;

    display: flex;
    justify-content: center;
    align-items: center;
}

.prediction-card__download {
    display: flex;
    align-items: center;
    padding-left: 1em;
    width: 1.5em;
    height: 1.5em;
}

.prediction-card__download-icon {
    width: 1.5em;
    height: 1.5em;
}

@media screen and (max-width: 768px) {
    .prediction-card__art {
        height: 25em;
    }
}

@media screen and (max-width: 425px) {
    .prediction-card__art {
        height: 20em;
    }
}
