.like-counter {
    display: flex;
    color: var(--main-text-color);
    opacity: 0.5;
}

.like-counter__icon {
    display: block;
    color: var(--main-text-color);

    width: 1rem;
    height: 1rem;
}

.like-counter__amount {
    padding-left: 0.5rem;
    color: var(--main-text-color);

    font-family: var(--main-font);
    font-style: normal;
    font-weight: bold;
    font-size: 0.825rem;
    line-height: 1rem;
}
