.dogecoin-prediction {
    display: flex;
    flex-flow: column nowrap;

    height: 100%;
    overflow: auto;
}

.dogecoin-prediction__header {
    padding-top: 2rem;
    padding-left: 7rem;
    padding-right: 7rem;
}

.dogecoin-prediction__content {
    display: flex;
    justify-content: center;
    flex-direction: column;

    padding-top: 5.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.dogecoin-prediction__footer {
    padding-top: 3rem;
}

.dogecoin-prediction__card {
    position: relative;
    width: 840px;
    height: 550px;
}

.dogecoin-prediction__prediction-card {
    width: 60%;
    margin: auto;
}

.dogecoin-prediction__delimiter {
    margin-top: 3rem;
}

.dogecoin-prediction__merch-title {
    margin: 0;
    padding-top: 1.5rem;
    padding-bottom: 1rem;

    text-align: center;
    color: var(--main-text-color);

    font-family: var(--main-font);
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    line-height: 40px;
}

.dogecoin-prediction__merch-cards {
   display: flex;
   justify-content: space-around;
}
