.nav {
    display: flex;
    align-items: center;
}

.nav__item {
    padding-right: 3em;
    color: #C2C2C2;

    font-family: 'Gilroy', 'sans-serif';
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 19px;
    text-align: center;
    text-decoration: none;
}

.nav__item:last-child {
    padding-right: 0;
}

.nav__item_icon,
.nav__item_icon picture,
.nav__item_icon img,
.nav__item_icon source {
    width: 1.5rem;
    height: 1.5rem;
}
